body {
  background-color: black;
  color: yellow;
}

.boton {
  color: aliceblue;
  border: 30px;
  margin: 30px;
}

.container {

  color: rgb(255, 6, 6);
  font-family: helvetica;
  color: rgb(241, 245, 245);
  background-color: rgb(247, 173, 13);
  font-size: 30px;
  border: dashed;
  color: rgb(64, 153, 5);
  margin: 34px 44px 54px 64px;
  padding: 34px;

}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: rgb(237, 243, 243);
  font-size: 30px;
  margin: 50px;
}

p {
  text-align: left;
  font-size: 18px;
  color: rgb(48, 146, 53);
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;


}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.column {
  flex: 1;
  padding: 10px;
}

@media (max-width: 606px) {
  .column {
    flex: 100%;
    margin: 20px;
    color: yellow;
    border: 30px;
    color: blue chartreuse;
  }
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.brand {
  display: flex;
  align-items: center;
}


li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
}


a {
  color: white;
  text-decoration: none;
}


.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: ruby-base-container; color: yellow;
  background-color: blue;
  
  
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }


  .nav-links {
    display: none;
  }


  .button-menu-toggle {
    display: block;
    background-color: rgb(89, 0, 107);
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;


  }
}

.container1{ 
  display: inline-flex

  
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}